{% extends 'layout.html' %}

{% block main %}
  <h1 class="page-title">{{title}}</h1>
  <div class="posts">
    {% for article in object_list %}
      <div class="post">
        <h1 class="post-title"><a href="{{ article.get_url }}">{{ article.title }}</a></h1>
        <span class="post-date"><i class="fa fa-fw fa-calendar fa-1x"></i>{{ article.pub_date|date }}</span>
        <span class="post-category"><a href="{{ article.category.get_url }}"><i class="fa fa-fw fa-folder-open fa-1x"></i>{{ article.category }}</a></span>
        {% for tag in article.get_tags %}
          <span class="post-tag"><a href="{{ tag.get_url }}"><i class="fa fa-fw fa-tag fa-1x"></i>{{ tag }}</a></span>
        {% endfor %}
        <div class="post-abstract">
          {{ article.get_abstract }} <span class="post-more"><a href="{{ article.get_url }}">(read more)</a></span>
        </div>
      </div>
    {% empty %}
      <h1>No articles yet.</h1>
    {% endfor %}
  </div>
  {% if title == "Latest posts" %}
    <h1 class="page-footer"><a href="/all">All posts</a></h1>
  {% endif %}
{% endblock %}
