<!DOCTYPE html>
<html>
<head>
  <title>Oscar Forner's personal website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/fornerio.css"/>
</head>
<body>
  <div class="sidebar">
    <div class="container sidebar-sticky">
      <div class="sidebar-about">
        <img class="sidebar-pic" src="static/img/avatar.jpg"></img>
        <h1>
          <a href="/">Oscar Forner</a>
        </h1>
        <p class="sidebar-info">I am a software engineer at VCA Technology. Passionate about GNU/Linux and Open Source. Interested in system programming languages, operating systems and compilers.</p>
      </div>
      <nav class="sidebar-nav">
        <a class="sidebar-nav-item" href="/">Blog</a>
        <a class="sidebar-nav-item" href="/projects">Projects</a>
        <a class="sidebar-nav-item" href="/resume">Resume</a>
        <a class="sidebar-nav-item" href="/about">About</a>
      </nav>
      <div class="sidebar-contact">
        <a class="sidebar-contact-item" href="mailto:oscar.forner.martinez@gmail.com">
          <i class="fa fa-fw fa-envelope-square fa-2x"></i>
        </a>
        <a class="sidebar-contact-item" href="http://twitter.com/oscar_forner">
          <i class="fa fa-fw fa-twitter-square fa-2x"></i>
        </a>
        <a class="sidebar-contact-item" href="http://linkedin.com/in/oscarforner">
          <i class="fa fa-fw fa-linkedin-square fa-2x"></i>
        </a>
        <a class="sidebar-contact-item" href="http://github.com/maitesin">
          <i class="fa fa-fw fa-github fa-2x"></i>
        </a>
        <a class="sidebar-contact-item" href="https://www.youtube.com/channel/UCo_mgV5WLLpEDGLXbR29zKg">
          <i class="fa fa-fw fa-youtube-square fa-2x"></i>
        </a>
        <a class="sidebar-contact-item" href="/yolo">
          <i class="fa fa-fw fa-rss-square fa-2x"></i>
        </a>
      </div>
      <p>&copy; 2017 Oscar Forner Martinez.</p>
    </div>
  </div>
  <div class="content container">
    {% block main %} {% endblock %}
  </div>
  </body>
</html>
