{% extends 'layout.html' %}

{% block main %}
  <div class="post">
    <h1 class="post-title"><a href="{{ object.get_url }}">{{ object.title }}</a></h1>
    <span class="post-date"><i class="fa fa-fw fa-calendar fa-1x"></i>{{ object.pub_date|date }}</span>
    <span class="post-category"><a href="{{ object.category.get_url }}"><i class="fa fa-fw fa-folder-open fa-1x"></i>{{ object.category }}</a></span>
    {% for tag in object.get_tags %}
      <span class="post-tag"><a href="{{ tag.get_url }}"><i class="fa fa-fw fa-tag fa-1x"></i>{{ tag }}</a></span>
    {% endfor %}
    <div class="post-content">
      {{ object.get_content | safe }}
    </div>
  </div>
  <div class="previous-next-post">
    {% if object.has_previous %}
      <div class="previous-post">
        <div><a href="{{ object.get_previous_url }}"><i class="fa fa-chevron-left"></i></a></div>
        <div><a href="{{ object.get_previous_url }}">{{ object.get_previous_title }}</a></div>
      </div>
    {% endif %}
    <div class="previous-next-post-gap"></div>
    {% if object.has_next %}
      <div class="next-post">
        <div><a href="{{ object.get_next_url }}">{{ object.get_next_title }}</a></div>
        <div><a href="{{ object.get_next_url }}"><i class="fa fa-chevron-right"></i></a></div>
      </div>
    {% endif %}
  </div>
  <!--Share buttons-->
  <div class="post-share">
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="{{ absolute_uri }}" data-a2a-title="I liked @oscar_forner new post">
    <a class="share-button a2a_button_twitter"></a>
    <a class="share-button a2a_button_linkedin"></a>
    <a class="share-button a2a_button_facebook"></a>
    <a class="share-button a2a_button_google_plus"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
  </div>
  <!--Disqus comments-->
  <div id="disqus_thread"></div>
  <script>
  (function() {
  var d = document, s = d.createElement('script');
  s.src = 'https://forner-io.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}
