{% extends 'layout.html' %}

{% block main %}
<div class="projects-title">
  <h1>Projects</h1>
</div>
<div class="project-grid">
  {% for project in projects %}
    <div class="project-grid-item">
      <a href="projects/{{ project.url }}">
        <img class="project-image" width="300" height="200" src="/static/img/{{ project.img }}"></img>
        <div class="project-overlay">
          <div class="project-text">{{ project.title }}</div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}
