{% extends 'layout.html' %}

{% block main %}
  <div class="projects-title">
    <h1>Resume</h1>
  </div>
  <div class="resume-description"></div>
  <fieldset class="resume-fieldset fieldset-experience">
    <legend>Experience</legend>
    <div class="resume-section resume-experience">
      <details>
        <summary>2016 - Present: Software Engineer at VCA Technology</summary>
        <p><strong>Network library</strong>: Allows the user to interact with Boost ASIO through the <i>std::stream</i> interface.</p>
        <p><strong>Tools</strong>: Improve the toolchain used internally to allow the usage of <i>clang-tidy</i> for the linting of our code. Another tool allows to switch between several versions of the toolchain without having to change the environment.</p>
        <p><strong>Backend development</strong>: Several activities regarding the extension and implementation of new features in the backend of the product such as <i>Authentication</i> and <i>GStreamer sinks<i/>.</p>
      </details>
      <details>
        <summary>2015 - 2016: Software Developer at Programming Research</summary>
        <p><strong>Static analysis of code</strong>: Checks if the code has some patterns that have an <i>undefined behaviour</i>, <i>unspecified in the Standard</i>, and/or <i>implementation-defined</i>.</p>
        <p><strong>Dataflow analysis of code</strong>: Checks the complexity of methods, pointer problems, memory handling, etc.</p>
        <p>Took over two projects to refactor, maintain and add new features.</p>
      </details>
      <details>
        <summary>2013 - 2015: Software Engineer at European Bioinformatics Institute</summary>
        <p><strong>RESTful service</strong>: Allows users to query for information about complexes in the database.</p>
	<p><strong>Cluster algorithm</strong>: Developed a new algorithm to cluster biological information from proteins.</p>
      </details>
      <details>
        <summary>2013 - Present: Open Source</summary>
        <p><strong><a href="https://github.com/maitesin/tries">Prefix Tree Comparison</a></strong>: Compare performance for different <strong>Trie</strong>, <strong>Ternary Search Tree</strong> and <strong>Radix Tree</strong>.<p>
	<p><strong><a href="https://github.com/maitesin/acc">ARM C Compiler (ACC)</a></strong>: I am creating a <strong>self-hosting compiler</strong> for <strong>C</strong> in the <strong>ARM</strong> architecture.</p>
      </details>
    </div>
  </fieldset>
  <fieldset class="resume-fieldset fieldset-courses">
    <legend>Courses</legend>
    <div class="resume-section resume-courses">
      <ul class="resume-list">
	<li class="resume-list-item">April 2016 - <strong>LFD331: Developing Linux Device Drivers</strong>; Linux Foundation</li>
	<li class="resume-list-item">March 2016 - <strong>LFD320: Linux Kernel Internals and Debugging</strong>; Linux Foundation</li>
	<li class="resume-list-item">August 2015 - <strong>Agile for developers</strong>; Accelebrate</li>
	<li class="resume-list-item">November 2014 - <strong>Algorithms, Part II</strong>; Coursera, Princeton University</li>
	<li class="resume-list-item">September 2014 - <strong>Algorithms, Part I</strong>; Coursera, Princeton University</li>
      </ul>
    </div>
  </fieldset>
  <fieldset class="resume-fieldset fieldset-programming">
    <legend>Programming Languages</legend>
    <div class="resume-section resume-programming">
      <ul class="resume-list">
	<li class="resume-list-item resume-programming-item"><strong>C++(11, 14, 17)</strong>: <progress value="90" max="100">90%</progress> 90%</li>
	<li class="resume-list-item resume-programming-item"><strong>C</strong>: <progress value="80" max="100">80%</progress> 80%</li>
	<li class="resume-list-item resume-programming-item"><strong>Python(2, 3)</strong>: <progress value="80" max="100">80%</progress> 80%</li>
	<li class="resume-list-item resume-programming-item"><strong>Bash</strong>: <progress value="75" max="100">75%</progress> 75%</li>
	<li class="resume-list-item resume-programming-item"><strong>Go</strong>: <progress value="50" max="100">50%</progress> 50%</li>
	<li class="resume-list-item resume-programming-item"><strong>Rust</strong>: <progress value="50" max="100">50%</progress> 50%</li>
      </ul>
    </div>
  </fieldset>
{% endblock %}
