{% extends 'layout.html' %}

{% block main %}
  <div class="projects-title">
    <h1>Rust application Resume</h1>
  </div>
  <img class="project-details-image" src="/static/img/resume.png"></img>
  <div class="project-container">
    <p>This resume is an <strong>interactive application</strong> written in <strong>Rust</strong> and it can be found <a href="https://github.com/maitesin/rust-cv/">https://github.com/maitesin/rust-cv/</a>.</p>
    <p>The idea for this project was inspired by <a href="https://github.com/soulshake/cv.soulshake.net">S0ulshake's CV</a>, however, I prefered to used other technologies, since I do not know JavaScript.</p>
    <p>The <strong>Rust</strong> library I used for creating the UI is <a href="https://github.com/fdehau/tui-rs">tui</a>.</p>
    <p>I have packaged the application inside a <strong>Docker</strong> image, so people can run it on their computers with the following command.</p>
    <pre><code>docker run -it maitesin/resume</code></pre>
    <p>You should get something similar to:</p>
    <img src="https://raw.githubusercontent.com/maitesin/rust-cv/master/cv.gif"></img>
  </div>
{% endblock %}
