{% extends 'layout.html' %}

{% block main %}
<div class="projects-title">
  <h1>Trie, TST and Radix Tree</h1>
</div>
<img class="project-details-image" src="/static/img/tries.png"></img>
<div class="project-container">
  <h2 class="project-section project-intro">Information about the Trie, TST and Radix Tree comparison</h2>
  <p><strong>Trie, Ternary Search Tree (TST) and Radix Tree</strong> is aimed to compare the performance of these three data structures. The three data structure are an implementation of the <strong>abstract data type dictionary</strong>, but they are enhanced with an extra method called "keys". That method returns the keys with that share a provided prefix. This can useful to use it in  tasks such as autocomplete searches.</p>
  <p>The study performed was using <strong>std::map</strong> and <strong>std::unordered_map</strong> as baseline for the performance.</p>
  <p>Robert Sedgewick claims that a <strong>Ternary Search Tree (TST)</strong> is a better solution than a <strong>Radix Tree</strong> since it does not waste space if the amount of data is not dense enough. and Skiena LKJSFNVBLKJSFBN</P>
  <p>However, Stecen S. Skiena holds that a <strong>Suffix Tree</strong> is the best approach, but since both data structures do not fulfill the same problems. I decided to use a <strong>Radix Tree</strong> regarding the close it gets to an <strong>Suffix Tree</strong> implementation.</p>
  <h2 class="project-section">Operations supported</h2>
  <p>The opeartions supported by <strong>Trie, Ternary Search Tree (TST) and Radix Tree</strong> are:</p>
  <table>
  <thead>
  <tr>
  <th>Operation</th>
  <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>clear</td>
  <td>Removes all the content of the data structure</td>
  </tr>
  <tr>
  <td>find</td>
  <td>Returns the value stored in the data structure for a specific key provided</td>
  </tr>
  <tr>
  <td>insert</td>
  <td>Adds a new pair of key and value to the data structure</td>
  </tr>
  <tr>
  <td>size</td>
  <td>Returns the amount of elements stored in the data structure</td>
  </tr>
  <tr>
  <td>show</td>
  <td>Prints the content of the data structure in the <a href="https://en.wikipedia.org/wiki/DOT_(graph_description_language)">dot</a> format</td>
  </tr>
  <tr>
  <td>erase</td>
  <td>Removes the value stored in the data structure for a specific key provided</td>
  </tr>
  <tr>
  <td>contains</td>
  <td>Returns true if there is a value associated to the key provided</td>
  </tr>
  <tr>
  <td>keys</td>
  <td>Returns a std::vector with all the keys in the data structure that have the provided prefix. If no prefix is provided returns a std::vector with all the keys in the data structure.</td>
  </tr>
  <tr>
  <td>lcp</td>
  <td>Returns the longest common prefix of all keys stored in the data structure.</td>
  </tr>
  </tbody>
  </table>
  <h2 class="project-section">Scenarios tested</h2>
  <p>
    Several test scenarios have been have developed to compare the performance of these five data structures.
  </p>
  <ul>
<li>Memory
<ul>
<li>Random values</li>
<li>Dictionaries</li>
</ul>
</li>
<li>Insert
<ul>
<li>Random values</li>
</ul>
</li>
<li>Remove
<ul>
<li>Random values
<ul>
<li>Found</li>
<li>Not found</li>
</ul>
</li>
<li>Dictionaries
<ul>
<li>Found</li>
<li>Not found</li>
</ul>
</li>
</ul>
</li>
<li>Seach
<ul>
<li>Random values
<ul>
<li>Found</li>
<li>Not found</li>
</ul>
</li>
<li>Dictionaries
<ul>
<li>Found</li>
<li>Not found</li>
</ul>
</li>
</ul>
</li>
<li>Get Keys
<ul>
<li>Random values</li>
<li>Dictionaries</li>
</ul>
</li>
<li>Get Keys with Prefix
<ul>
<li>Random values</li>
<li>Dictionaries</li>
</ul>
</li>
<li>Longest Common Path
<ul>
<li>Random values</li>
<li>Dictionaries</li>
</ul>
</li>
</ul>
<h2 class="project-section">Description of the structures</h2>
<h3 class="project-section">Trie</h3>
<p>
A trie is an ordered tree data structure that is used to store a dynamic set or associative array where the keys are usually strings. Unlike a binary search tree, no node in the tree stores the key associated with that node; instead, its position in the tree defines the key with which it is associated. All the descendants of a node have a common prefix of the string associated with that node, and the root is associated with the empty string. Values are not necessarily associated with every node. Rather, values tend only to be associated with leaves, and with some inner nodes that correspond to keys of interest.
</p>
<img src="/static/img/tries/trie.png"></img>
<h3 class="project-section">Ternary Search Tree (TST)</h3>
<p>
Ternary Search Tree is a type of trie (sometimes called a prefix tree) where nodes are arranged in a manner similar to a binary search tree, but with up to three children rather than the binary tree's limit of two. Like other prefix trees, a ternary search tree can be used as an associative map structure with the ability for incremental string search. However, ternary search trees are more space efficient compared to standard prefix trees, at the cost of speed.
</p>
<img src="/static/img/tries/tst.png"></img>
<h3 class="project-section">Radix Tree</h3>
<p>
  Radix Tree (also radix trie or compact prefix tree) is a data structure that represents a space-optimized trie in which each node that is the only child is merged with its parent. The result is that the number of children of every internal node is at least the radix r of the radix trie, where r is a positive integer and a power x of 2, having x >= 1. Unlike in regular tries, edges can be labeled with sequences of elements as well as single elements. This makes radix trees much more efficient for small sets (especially if the strings are long) and for sets of strings that share long prefixes.
</p>
<img src="/static/img/tries/radix.png"></img>
<h2 class="project-section">Results</h2>
<p>All results can be seen <a href="/2016/02/26/Prefix_trees__Comparison_between_Trie__Ternary_Search_Tree_and_Radix_Tree">here</a></p>
</div>
{% endblock %}
